html,body {
    background-color: #F4E7D7;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 2.5;
    font-weight: 500;
    color: #ffffff;
}

header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #105677;
}
 nav {
    background-color: #105677;
    text: white;
    float: right;
    margin-top: -120px;
    list-style-type: none;
    text-align: center;
 }
  nav li {
        display: inline-block;
        font-size: 20px;
        padding: 0px;
        color:white;
  }

  main{
     padding: 0; 
  }

  #container-first {
      background-color: #0c445f;
      background-size: cover;
      overflow: hidden;
      position: relative;
      color: #ffffff;
      padding: 30px;
      font-size: 30px;
  }

main h2 {
    padding: 30px;
}
main p {
    font-family:'Terbuchet MS';
     font-size: 1.5rem;
}
#Products {
    padding: 20px; 
    height: 100%;
    color:#0c445f;
}

#Products h2 {
    color: #0c445f;
}
#Products .product1 {
    background-color: #f7f7f7;
     height: 100%;
}

.product3 {
    background-color: #f7f7f7;
}

#ContactUs {
    margin-bottom: 500px;
     height: 100%;
}
#ContactUs .ContactForm1 {
    float: left;
    margin-left: 40px;
}

.ContactForm2 {
    float:right;
    margin-right: 40px;
    margin-bottom: -200px;

}

.footerstyle {
    background-color:  #105677;
}
#footer-panel {
    background-color: #06293a;
     height: 50%; 
}

main  {

}
/*nav {
    background-color: #131F28;
}
.navbar{
    background-color:  #131F28;
}
header{
    background-color: #131F28;
    
}

nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    color:white;
}
#first {
    margin: 10px;
    padding: 50px;
    text-align: center;
}
#AboutUs {
      margin: 10px;
      padding: 15px;
      background-color: #f5f3f3;
      height: 500px;
}
#AboutUs h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
#Products {
    margin: 10px;
    padding: 15px;
    background-color: #ffffff;
    height: 500px;
}1111111

#ContactUs {
    margin: 10px;
    padding: 15px;
    background-color: #f5f3f3;
    height: 500px;
}

*/